.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.completed-checkbox {
  margin-top: 12px;
  margin-left: 12px;
}

.completed-list-item {
  border: 1px solid black;
  display: flex;
  font-style: italic;
  height: 36px;
  margin: 5%;
  text-decoration: line-through;
  width: 290px;
}

.delete-button {
  background-color: red;
  border: 0;
  right: 0;
  height: 36px;
  width: 36px;
}

.list-item {
  border: 1px solid black;
  display: flex;
  height: 36px;
  margin: 5%;
  text-decoration: none;
  width: 290px;
}

.list-item-text {
  margin: 0;
  padding-top: 8px;
  margin-right: 1px;
  width: 227px;
}

.new-item {
  display: flex;
  margin: 0 auto 20px auto;
  width: 320px;
}

.new-item-input {
  border: 1px solid black;
  padding: 0;
  width: 284px;
}

.new-item-input::placeholder {
  text-align: center;
}

.no-show {
  display: none;
}

#plus-sign {
  color: white;
  font-size: 25px;
  margin-top: 0;
}

.todo-list {
  border: 1px solid black;
  margin: 0 auto;
  width: 320px;
}

.add-button {
  background-color: green;
  border: 1px solid green;
  height: 36px;
  width: 36px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
